---
---

@import 'jekyll-theme-chirpy';

/* Hide dates on posts */
.post-meta time,
.post-meta .update,
.post-meta span:has(time),
article .post-meta > span:first-child,
#post-list .post-preview .post-meta > span:first-child {
  display: none !important;
}